@model ChallengeIntegra.Models.Cliente

@{
    ViewData["Title"] = "Detalles del Cliente";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
   
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.CUIT)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.CUIT)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.RazonSocial)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.RazonSocial)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-9">
            @* Esto mostrará "True" o "False". Podríamos personalizarlo si quisiéramos mostrar "Sí" o "No". *@
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
</div>
